<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Report</title>
    <link rel="stylesheet" href="{{ (url_for('static', filename='main.css')) }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2 style="font-family: math; text-align: center; color: green;">Report Generated Successfully</h2>
        <br><br>
        <div class="container" style="text-align: center;">
            <div class="row">
                <img src="{{ chart_path }}" alt="Pie Chart">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="well outputtab col-lg-4" style="height: 200px; text-align: center;">
                <h4 style="margin-top: 20px;">Energy Usage</h4>
                <br>
                <h6>Average Electricity Bill : {{ avgelectricitybill }} €</h6>
                <h6>Average Naturalgas Bill : {{ avggasbill }} €</h6>
                <h6>Average Fuel Bill : {{ avgfuelbill }} €</h6>
                <h6>Carbon Footprint :: {{ Energysector }}</h6>
                
            </div>
            <div class="well outputtab col-lg-4" style="height: 200px; text-align: center;">
                <h4 style="margin-top: 20px;">Waste Management</h4>
                <br>
                <h6>Monthly Waste Generated  : {{ avgwastegen }} KM</h6>
                <h6>Waste composed/recycled percent : {{ avgwastecompose }} %</h6>
                <h6>Carbon Footprint :: {{ Wastesector }}</h6>
                
            </div>
            <div class="well outputtab col-lg-4" style="height: 200px; text-align: center;">
                <h4 style="margin-top: 20px;">Business Travel</h4>
                <br>
                <h6>Employees travel per year for business  : {{ avgkmtravel }} KM</h6>
                <h6>Average fuel efficiency per 100 km : {{ avgfuelefficiency }} €</h6>
                <h6>Carbon Footprint :: {{ Travelsector }}</h6>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="suggesionhead">
                <h2>Carbon Reduction Recommendation : </h2>
                <hr class="solid">
                <br>
                <ol>⦿ Primary Focus on : <b>{{ HighImpact[0] }}</b>, That Makes Highest Impact : <b>( {{ HighImpact[1] }} kgCO2 )</b></ol>
                <ol>⦿ Secondary Focus on : <b>{{ MediumImpact[0] }}</b>, That Makes Impact : <b>( {{ MediumImpact[1] }} kgCO2 )</b></ol>
                <ol>⦿ Monitor : <b>{{ LowImpact[0] }}</b>, That Impact : <b>( {{ LowImpact[1] }} kgCO2 )</b></ol>
            </div>
        </div>
    </div>
    <br><br>
    
    <div class="container">
        <div class="row">
            <div class="reducesuggestion">
                <div class="col-lg-4">
                    <h2><b>Energy Usage </b></h2>
                <br>
                <ol>⁍ Switch to renewable energy sources like solar or wind.</ol>
                <ol>⁍ Use energy-efficient appliances and smart systems.</ol>
                <ol>⁍ Practice energy conservation by turning off unused devices.</ol>
                <br>
                </div>
                <div class="col-lg-4">
                    <h2><b>Waste Management </b></h2>
                <br>
                <ol>⁍ Reduce single-use items and reuse materials.</ol>
                <ol>⁍ Recycle paper, plastics, and electronics effectively.</ol>
                <ol>⁍ Compost organic waste to limit landfill emissions.</ol>
                <br>
                </div>
                <div class="col-lg-4">
                    <h2><b>Business Travel </b></h2>
                <br>
                <ol>⁍ Replace non-essential travel with virtual meetings.</ol>
                <ol>⁍ Use public transport, carpooling, or ride-sharing.</ol>
                <ol>⁍ Offset travel emissions with carbon offset programs.</ol>
                <br><br>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <form action="/downloadreport" method="post">
                <button type="submit" class="pdfdownloadbtn">PDF Report Download</button>
            </form>
        </div>
    </div>
    <br><br><br>
</body>
</html>